@import "reset.css"; 
@import "background.scss"; 

.main{ 
  height: 100vh;
}

.container{ 
  display: block; 
  justify-content: space-around;
  padding: 50px;
}

div.main-profile-avatar > img { 
  height: 100px; 
}

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4)
 
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.main-vis-container{ 
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px; 
}
.main-title {
  font-size: 48px;
  margin: 10px 0;
  font-weight: bold;
      color: #8FB339;
}
.main-subtitle {
  font-size: 20px;
  margin: 30px 0;
}

.main-input-container {
    margin: 10px 0;
}

.main-profile > p {
    margin: 10px 0;
}

#vis > p {
    font-size: 24px;
}


.main-input-container > * {
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

#bar-vis{ 
  height: 600px; 
  width: 500px; 
}
/* 
.bar{ 
  transform: rotate(180deg);

}   */
