@import "reset.css"; 
@import "background.scss"; 

.main{ 
  height: 100vh;
}

.container{ 
  display: block; 
  justify-content: space-around;
  padding: 50px;
}

div.main-profile-avatar > img { 
  height: 100px; 
}

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4)
 
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/* .main-vis-container{ 
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px; 
} */
.main-title {
  font-size: 48px;
  margin: 10px 0;
  font-weight: bold;
      color: #8FB339;
}
.main-subtitle {
  font-size: 20px;
  margin: 30px 0;
}

.main-input-container {
    margin: 10px 0;
}

.main-profile > p {
    margin: 10px 0;
}

#vis > p {
    font-size: 24px;
}


.main-input-container > * {
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

#bar-vis{ 
  height: 600px; 
  width: 500px; 
}
/* 
.bar{ 
  transform: rotate(180deg);

}   */



/* tip */

#tip{
  position: absolute;
  width: 3rem;
  background-color: #eee;
  text-align: center;
  box-shadow: 0px 2px 10px -2px #aaa;
  border: 2px solid #444;
  transition: all 160ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
/*
#tip::after{
    content: " ";
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    margin-left: -.5rem;
    border-style: solid;
    border-width: .5rem .5rem 0 .5rem;
    border-color: #444 transparent transparent transparent;
    }  */

